<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mds.dao.DailypriceMapper" >
  <resultMap id="BaseResultMap" type="com.magic.entity.Dailyprice" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dailyprice" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="inputtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="isdel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, dailyprice, inputtime, isdel, remark, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from mds_dailyprice
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mds_dailyprice
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.magic.entity.Dailyprice" >
    insert into mds_dailyprice (id, code, dailyprice, 
      inputtime, isdel, remark, 
      createtime, updatetime)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{dailyprice,jdbcType=DOUBLE}, 
      #{inputtime,jdbcType=TIMESTAMP}, #{isdel,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.magic.entity.Dailyprice" >
    insert into mds_dailyprice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="dailyprice != null" >
        dailyprice,
      </if>
      <if test="inputtime != null" >
        inputtime,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="dailyprice != null" >
        #{dailyprice,jdbcType=DOUBLE},
      </if>
      <if test="inputtime != null" >
        #{inputtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.entity.Dailyprice" >
    update mds_dailyprice
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="dailyprice != null" >
        dailyprice = #{dailyprice,jdbcType=DOUBLE},
      </if>
      <if test="inputtime != null" >
        inputtime = #{inputtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magic.entity.Dailyprice" >
    update mds_dailyprice
    set code = #{code,jdbcType=VARCHAR},
      dailyprice = #{dailyprice,jdbcType=DOUBLE},
      inputtime = #{inputtime,jdbcType=TIMESTAMP},
      isdel = #{isdel,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>