<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mds.dao.EmentidcontentinfoMapper" >
  <resultMap id="BaseResultMap" type="com.mds.entity.Ementidcontentinfo" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="baseelementid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goodsdetailid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dailyprice" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="zkrate" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="realprice" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="reprice" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="isdel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="sort" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, baseelementid, content,dailyprice,zkrate,realprice,reprice, isdel, remark, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from mds_ementidcontentinfo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mds_ementidcontentinfo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mds.entity.Ementidcontentinfo" >
    insert into mds_ementidcontentinfo (id, baseelementid,goodsdetailid, content,dailyprice,zkrate,realprice,reprice,
      isdel, remark, createtime, 
      updatetime, sort)
    values (#{id,jdbcType=VARCHAR}, #{baseelementid,jdbcType=VARCHAR},#{goodsdetailid,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{dailyprice,jdbcType=DOUBLE},#{zkrate,jdbcType=DOUBLE},#{realprice,jdbcType=DOUBLE},#{reprice,jdbcType=DOUBLE},
      #{isdel,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP},#{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mds.entity.Ementidcontentinfo" >
    insert into mds_ementidcontentinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="baseelementid != null" >
        baseelementid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="dailyprice != null" >
        dailyprice,
      </if>
      <if test="zkrate != null" >
        zkrate,
      </if>
      <if test="realprice != null" >
        realprice,
      </if>
      <if test="reprice != null" >
        reprice,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="baseelementid != null" >
        #{baseelementid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="dailyprice != null" >
        #{dailyprice,jdbcType=DOUBLE},
      </if>
      <if test="zkrate != null" >
        #{zkrate,jdbcType=DOUBLE},
      </if>
      <if test="realprice != null" >
        #{realprice,jdbcType=DOUBLE},
      </if>
      <if test="reprice != null" >
        #{reprice,jdbcType=DOUBLE},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mds.entity.Ementidcontentinfo" >
    update mds_ementidcontentinfo
    <set >
      <if test="baseelementid != null" >
        baseelementid = #{baseelementid,jdbcType=VARCHAR},
      </if>
      <if test="goodsdetailid != null" >
        goodsdetailid = #{goodsdetailid,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="dailyprice != null" >
        #{dailyprice,jdbcType=DOUBLE},
      </if>
      <if test="zkrate != null" >
        #{zkrate,jdbcType=DOUBLE},
      </if>
      <if test="realprice != null" >
        #{realprice,jdbcType=DOUBLE},
      </if>
      <if test="reprice != null" >
        #{reprice,jdbcType=DOUBLE},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mds.entity.Ementidcontentinfo" >
    update mds_ementidcontentinfo
    set baseelementid = #{baseelementid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      dailyprice = #{dailyprice,jdbcType=DOUBLE},
      zkrate = #{zkrate,jdbcType=DOUBLE},
      realprice = #{realprice,jdbcType=DOUBLE},
      reprice = #{reprice,jdbcType=DOUBLE},
      isdel = #{isdel,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="deleteEmentCheckInfo" parameterType="java.lang.String">
    update mds_ementidcontentinfo me set me.isdel = '1'
    where me.goodsdetailid = #{goodsdetailid}
  </update>

  <select id="getCheckInfoByDetailid" resultType="com.mds.vo.EmentidcontentinfoVo" parameterType="java.lang.String">
    select me.*,mb.name from mds_ementidcontentinfo me join mds_baseelement mb on mb.code = me.baseelementid
    where me.isdel = '0'
    and me.goodsdetailid = #{goodsdetailid} order by me.sort
  </select>
</mapper>